.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.text {
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 2rem;
    text-align: center;
    color: #808080;
}


@media (max-width: 40rem) {
    .text {
        width: 100%;
    }
}