.wrapper nav {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 3rem;

}

@media (max-width: 40rem) {
    .wrapper nav {
        justify-content: center;
    }
}