.wrapper {
    width: 60%;
}

.container {
    display: flex;
    flex-direction: column;
}

.pages {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.empty div {
    width: 80%;
}

@media (max-width: 40rem) {
    .wrapper {
        width: 100vw;
    }

    .pages {
        justify-content: center;
    }

}