.wrapper {
    width: 60%;

}

.container {
    display: flex;
    flex-direction: column;
}



.repos ul {
    min-height: 60vh;
}

.pages {}

.empty div {
    width: 80%;
}

@media (max-width: 40rem) {
    .wrapper {
        width: 100vw;
    }

}