.wrapper {
    background-color: #0064EB;
    width: 100%;

}

.section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    width: 40vw;
}

@media (max-width: 40rem) {
    .section {
        flex-wrap: wrap;
        width: 100%;

    }

}