.wrapper {
    width: 100%;
}

.wrapper form {
    background-color: #FFF;
    padding: 0.5rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: 0.2rem;
    border-radius: 0.3rem;
    width: 100%;
}

.wrapper form input {
    border: none;
    outline: none;
    width: 100%;
    padding: 0.2rem;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1rem;
    letter-spacing: 0.01em;
    color: #808080;
}