.title {
    font-size: 2rem;
}

.repos {
    min-height: 70vh;
}

.repos__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem 0;
}


.repo {
    max-width: 55rem;
    min-height: 7rem;
    width: 100%;
    margin: 1rem 0;
    padding: 1.5rem 2rem;
    background: #FFFFFF;
    border-radius: 6px;
}

.repo__title a {
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: #0064EB;
}

.repo__body {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.1rem;

    color: #000000;
}